html {
    font-size: 16px;
}

body {
    background-color: lightgreen;
}

header *{
    margin: auto;
}

header img{
    width: 300px;
    height: 300px;
}

nav {
    background-color: bisque;
}

nav ul {
    display: flex;
    width: 30%;
    border: none;
}

nav ul li {
    background-color: maroon;
    list-style: none;
    border: 1px solid white;
    padding: 15px;
    margin: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}