body {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
}
 
#contenedor {
	background-color: white;
	display: flex;
	flex-direction: column;
}

header img {
	margin-left: auto;
	margin-right: auto;
}

h2 {
	color: blue;
	text-shadow: 5px 5px 3px green;
	text-decoration: overline underline wavy blue;
}
	
section ul:not(nav ul) {
	border: 3px dashed blue;
}

section ul ul {
	border: none;
}

section dl{
	border: 3px dashed red;
}

dt {
	font-weight: bold;
}
	


#ol>ol {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

#ol ol {
	border: 3px dotted red;
}

ol li {
	list-style-type: upper-roman;
}

ol ol li {
	list-style-type: lower-alpha;
}

ol ol li caption {
	text-align: center;
}

#fs {
	font-size: 0.5em;
}

#fs li {
	color: green;
	font-size: 4em;
}

#fs li:first-child {
	color: red;
	font-size: 400%;
}

#fs li:last-child {
	color: blue;
	font-size: 2rem;
}

#listStyle {
	list-style-image: url(../imagenes/css3.png);
}

#background {
	background-image: url(../imagenes/css3.png);
	background-repeat: no-repeat;
	list-style-type: none;
}

table {
	border: 1px solid black;
}

thead td {
	background-color: blue;
	color: white;
	font-weight: bold;
}

td {
	border: 1px solid black;
}

#anclas {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end:2;
}

#anclas a:hover {
	font-size: 200%;
	color: red;
	text-decoration: underline dotted blue;
}

	footer p{
		text-align:justify;
		border:3px solid green;
	}